/* All pages */

* {
    margin: 0;
    padding: 0;
}

body {
	background-image: linear-gradient(to right, #f0dcdf , #ffb7cb);
	font-family: Arial narrow;
}

.logo {
	margin: 20px 0 0 20px;
}

.search {
	display: flex;
	justify-content: center;
	margin-top: -70px;
}

.nav {
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
    background-color: #732335;
}

.main {
	margin-top: 60px;
}

a {
	color: white;
	text-decoration: none;
}

/* Home page */

.h1-titles {
	margin-left: 20px;
	border-bottom: 3px solid black;
	font-family: papyrus;
}

.collection, .review {
	margin: 10px 0 0 20px;
	cursor: pointer;
}

.review-container {
	display: grid;
	grid-template-columns: auto auto auto auto;

}

.review-container > div {
	background-color: white;
	padding: 20px;
}

.review {
	border: 1px solid;
	box-shadow: 5px 10px #888888;
}

.image-review {
	float:left;
	margin-right: 10px;
}

.imageRow {
	display: flex;
	flex-wrap: wrap;
}

.imagespace {
	padding: 5px;
}

.footer {
	font-family: Trebuchet MS;
	margin-top: 30px;
	background-color: #a55ea7;
	text-align: center;
	padding: 50px;
}

.social-links {
	margin-top: 20px;
}

.modal {
	margin:  auto auto;
	width: 350px;
	padding: 20px;
}

.close {
	float: right;
}

.gallery {
	display: block;
}

div.gallery {
  margin: 5px;
  float: left;
  width: auto;
}

div.gallery img {
  width: auto;
  height: auto;
  display: block;
  margin: auto auto;
}

div.desc {
  padding: 5px;
  text-align: center;
}

/* Use a media query to add a break point at 414px: */
@media screen and (max-width:  414px) {

/* Home Page */
.logo {
	display: block;
	margin: 20px auto 0 auto;
}

.search {
	margin: 15px auto 0 auto;
}

.main {
	margin-top: 30px;
}

.review-container {
	display: grid;
	grid-template-columns: auto;
	padding: 20px;
	grid-gap: 15px;
}

.review-container > div {
	background-color: white;
	padding: 20px;
}

.review {
	border: 1px solid;
	box-shadow: 5px 10px #888888;
}

.collection {
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 20px;
}

img {
	width: 125px;
}


