/* Mobile and default styles */

/* All pages */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	font-size: 1em;
}

body {
	background-image: linear-gradient(to right, #f0dcdf , #ffb7cb);
	font-family: Arial narrow;
}

.logo {
	margin: 20px auto 0 auto;
	display: block;
	width: 300px;
}

.search {
	display: flex;
	justify-content: center;
	margin-top: -70px;
	margin: auto auto;
	padding: 10px;
}

.nav {
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
  background-color: #732335;
  font-size: 5vw;
	margin-left: -15px;
}

.main {
	margin-top: 20px;
}

.h1-titles {
	margin: 20px 0 0 10px;
	border-bottom: 3px solid black;
	font-family: papyrus;
}

a {
	color: white;
	text-decoration: none;
}

.footer {
	font-family: Trebuchet MS;
	font-size: 4vw;
	margin-top: 30px;
	background-color: #a55ea7;
	text-align: center;
	padding: 50px;
}

.social-links {
	margin-top: 20px;
}

.subscribe {
	margin-top: 10px;
}


/* Home page */

.collection, .review {
	margin: 10px 0 0 20px;
}

.collection {
	display: grid;
	grid-template-columns: auto auto;
	font-size: 5vw;
	margin: 35px auto 0 auto;
	/*background-color: red;*/
}

/* Grouped images of actors */

div.gallery  {
	margin-top: 20px;
  margin: auto auto;
}


.image-review {
	float:left;
	margin-right: 10px;
}

.imageRow {
	display: flex;
	flex-wrap: wrap;
}

.imagespace {
	padding: 5px;
}

.modal {
	margin: auto auto;
	width: 350px;
	padding: 20px;
}

.close {
	float: right;
}

.gallery a {
	color: purple;
	text-decoration: underline;
}

/*div.gallery img {
  width: auto;
  height: auto;
  display: block;
  margin: auto auto;
}
*/

div.actorName {
	color: purple;
  padding: 10px;
  text-align: center;
}

.review-container {
	display: grid;
	grid-template-columns: auto;
	margin-right: 35px;
	margin-top: 30px;
	margin-bottom: 50px;
	padding: auto;
	grid-gap: 15px;
}

.review-container > div {
	background-color: white;
	padding: 20px;
}

.review {
	border: 1px solid;
	box-shadow: 5px 10px #888888;
}

/* Actors page */

.imgActor {
	float: left;
	margin: 10px 10px 0 20px;
}

.bio {
	margin-top: 10px;
	font-size: 20px;
}

.galleryRow {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.galleryColumn {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.galleryColumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

div.gallery img {
  width: 125px;
  height: auto;
  display: block;
  margin: 0 0 0 10px;
}

div.desc {
	margin: 0 0 0 -20px;
}

.social-image {
	width: 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
.galleryColumn {
  -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
}

/* Tablet styles */
@media only screen and (min-width: 541px) and (max-width: 780px) {
  body {
		font-size: 4.5vw;
	}

	.logo {
		width: 400px;
	}

	.search {
		display: flex;
		padding: 10px;
	}

	.nav {
		display: flex;
		justify-content: space-evenly;
		padding: 10px;
	  background-color: #732335;
	  font-size: 4vw;
		margin-left: -30px;
	}

/*
	.main {
		margin-top: 30px;
	}
*/

	.h1-titles {
		margin: 20px 0 0 10px;
		border-bottom: 3px solid black;
		font-family: papyrus;
		font-size: 6vw;
	}

	a {
		color: white;
		text-decoration: none;
	}

	.footer {
		font-family: Trebuchet MS;
		font-size: 4vw;
		margin-top: 30px;
		background-color: #a55ea7;
		text-align: center;
		padding: 50px;
	}

	.social-links {
		margin-top: 20px;
	}

	.subscribe {
		margin-top: 10px;
	}

	
	/* Home page */

	.collection, .review {
		margin: 10px 0 0 20px;
	}

	.collection {
		display: grid;
		grid-template-columns: auto auto;
		font-size: 5vw;
		margin: 35px 0 0 60px;
		/*background-color: red;*/
	}

	.review-container {
		display: grid;
		grid-template-columns: auto auto;
	}

	.review-container > div {
		background-color: white;
		padding: 20px;
	}

	.review {
		border: 1px solid;
		box-shadow: 5px 10px #888888;
	}

	.image-review {
		float:left;
		margin-right: 10px;
	}

	.imageRow {
		display: flex;
		flex-wrap: wrap;
	}

	.imagespace {
		padding: 5px;
	}

	.modal {
		margin: auto auto;
		width: 350px;
		padding: 20px;
	}

	.close {
		float: right;
	}

	.gallery {
		display: grid;
		color: purple;
		/*background-color: green;*/
	}

	.gallery a {
		color: purple;
		text-decoration: underline;
	}

	div.gallery {
	  margin: 20px;
	  margin-right: 90px;
	}

	div.gallery img {
	  width: 160px;
	  height: auto;
	  display: block;
	  margin: auto auto;
	}

	div.desc {
	  padding: 5px;
	  text-align: center;
	}

	div.actorName {
	color: purple;
  padding: 10px;
  text-align: center;
}


	/* Actors page */

	.imgActor {
		float: left;
		margin: 10px 10px 0 20px;
	}

	.bio {
		margin-top: 10px;
		font-size: 20px;
	}

	.galleryRow {
		display: flex;
		flex-wrap: wrap;
		padding: 0 4px;
	}

	.social-image {
		width: 20px;
	}

	/* Create four equal columns that sits next to each other */
	.galleryColumn {
	  flex: 25%;
	  max-width: 25%;
	  padding: 0 4px;
	}

	.galleryColumn img {
	  margin-top: 8px;
	  vertical-align: middle;
	  width: 100%;
	}
}

/* Desktop styles */
@media only screen and (min-width: 781px) {
 	body {
		font-size: 1.5vw;
		/*background-color: yellow;*/
	}

	.logo {
		width: 400px;
		margin: 20px;
	}

	.search {
		display: flex;
		margin-top: -110px;
		padding: 10px;
	}

	.nav {
		display: flex;
		justify-content: space-evenly;
		padding: 10px;
	  background-color: #732335;
	  font-size: 1.5vw;
		margin-left: -15px;
	}

	.h1-titles {
		margin: 65px 10px 0 20px;
		border-bottom: 3px solid black;
		font-family: papyrus;
		font-size: 2.5vw;
	}

	a {
		color: white;
		text-decoration: none;
	}

	.footer {
		font-family: Trebuchet MS;
		font-size: 1.5vw;
		margin-top: 30px;
		background-color: #a55ea7;
		text-align: center;
		padding: 50px;
	}

	.social-links {
		margin-top: 20px;
	}

	.social-links > img {
		width: 30px;
	}

	.subscribe {
		margin-top: 10px;
	}


	/* Home page */

	.collection {
		display: grid;
		grid-template-columns: auto auto auto auto;
		font-size: 2vw;
	}

	.review {
		border: 1px solid;
		box-shadow: 5px 10px #888888;
		font-size: 1.1vw;
	}

	.review-container {
		display: grid;
		grid-template-columns: auto auto auto auto;
		margin: 15px 35px 30px 0px;
		padding: auto;
		grid-gap: 15px;
	}

	.review-container > div {
		background-color: white;
		padding: 20px;
	}

	.collection, .review {
		margin: 20px 0 20px 20px;
		cursor: pointer;
		/*background-color: green;*/
	}

	div.gallery img {
	  width: 125px;
	  height: auto;
	  display: block;
	  margin: 0 0 0 10px;
	}

	div.desc {
		margin: 0 0 0 -20px;
	}

	.social-image {
		width: 20px;
	}


	/* Grouped images of actors */

	div.gallery  {
		margin-top: 20px;
	  margin: auto auto;
	}


	.image-review {
		float:left;
		margin-right: 10px;
	}

	.imageRow {
		display: flex;
		flex-wrap: wrap;
	}

	.imagespace {
		padding: 5px;
	}

	.modal {
		margin: auto auto;
		width: 350px;
		padding: 20px;
	}

	.close {
		float: right;
	}

	.gallery a {
		color: purple;
		text-decoration: underline;
	}

	/*div.gallery img {
	  width: auto;
	  height: auto;
	  display: block;
	  margin: auto auto;
	}
	*/

	div.actorName {
		color: purple;
	  padding: 10px;
	  text-align: center;
	}


	/* Actors page */

	.imgActor {
		float: left;
		margin: 10px 10px 0 20px;
	}

	.bio {
		margin-top: 10px;
		font-size: 20px;
	}

	.galleryRow {
		display: flex;
		flex-wrap: wrap;
		padding: 0 4px;
	}

	/* Create four equal columns that sits next to each other */
	.galleryColumn {
	  flex: 25%;
	  max-width: 25%;
	  padding: 0 4px;
	}

	.galleryColumn img {
	  margin-top: 8px;
	  vertical-align: middle;
	  width: 100%;
	}

	/* Responsive layout - makes a two column-layout instead of four columns */
	.galleryColumn {
	  -ms-flex: 50%;
	    flex: 50%;
	    max-width: 50%;
	}
}
